body{
	background: white;
}
#contenedor{
	width: 1232px;
	height: 550px;
	background: #002147;
	margin: 1em auto;
	border-radius: 2em; 
	padding: 0.5em;
}
#img2{
	height: 30%;
	background: white;
	border-radius: 0.5em;
	color: black;
	margin: 0.5em;
	font-size: 20px;
	padding: 0.5em; 
}
#img3{
	width: 47%
	height: 71%;
	background: white;
	border-radius: 0.5em;
	margin: 0.5em;
	font-size: 20px;
	padding: 0.5em; 
    text-align: left;
}
#div{
	color: white;
}
a{
	text-decoration: none;
	text-decoration-line: none;
	color: #002147;
}
a:hover{
	font-size: 14px;
	color: white;
}
button:hover{
	background: #002147;
}